#boxes {
  grid-template-columns: auto auto auto;
  justify-items: center;
  border-style: solid;
  border-width: 5px;
  width: 98.7%;
  display: grid;

}

#supplier {
  grid-column: 1/1;
}

#company {
  grid-column: 2/2;
}

#customer {
  grid-column: 3/3;
}

.box {
  opacity: 100%;
  list-style-type: none;
  text-decoration: none;
  width: 100%;
  background-color: white;
  -webkit-animation: fadein .5s;

}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.plot {}

#currGraph {
  -webkit-animation: fadein .5s;


}

#diffgraph {
  -webkit-animation: fadein .5s;
}



body {
  background-image: url("/assets/bgwaveog.png");
}

#logo {
  width: 350px;
}

.box button {
  background-color: rgb(253, 101, 101);
  color: black;
  font-size: 15px;
  margin: 10px;

}

#currencyChooser {
  width: 70%;
}

input {
  width: 70%;
  padding: 10px 0 0 0;
}


#upload {
  background-color: white;
  width: 90%;
  font-size: 20px;
  text-Align: center;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
}


#output-data-upload h5,
h6 {
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  color: white;
  font-size: 30px;
}


.menu {
  width: 100%;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

#vbutton1,
#vbutton2,
#vbutton3 {
  width: 33.33%;
  background-color: white;
  font-size: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 0px;

}

#sliderDiv {
  width: 70%;
  padding-left: 30px;
}

#procDiv,
#netIncomeOutput,
#revDiv {
  font-size: 30px;
  padding: 20px;
}