#boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

#supplier {
  grid-column: 1/1;
}

#company {
  grid-column: 2/2;
}

#customer {
  grid-column: 3/3;
}

.box {
  align-items: center;
  height: 600px;
  background-color: white;
  opacity: 80%;
  margin: auto auto auto auto;
  border-radius: 20px;
}

body {
  background-image: url("/assets/bgwaveog.png");
}

#logo {
  width: 350px;
}
